<div class="urgency">
  <div>
      <h3>Urgencias</h3>
  </div>
  <div class="container">
      <div class="row">
        <div class="col md-4" >
          <h5>Datos del paciente registrado a atender</h5>
          <div class="card"  >
            <div class="card-body">
                <div class="row">
                  <br>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4 mb-2">
                        <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="DNI">
                    </div>
                    <div class="form-group col-sm-2 mb-2">
                        <button type="button" class="btn btn-primary"> Buscar</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-sm-4 mb-2">
                        <h6 class="card-subtitle mb-2 text-muted">Historia clínica</h6>
                        <input type="text" class="form-control" placeholder="" disabled>
                      </div>
                      <div class="form-group col-sm-4 mb-2">
                        <h6 class="card-subtitle mb-2 text-muted">DNI</h6>
                        <input type="text" class="form-control" placeholder="" disabled>
                      </div>
                      <div class="form-group col-sm-4 mb-2">
                          <h6 class="card-subtitle mb-2 text-muted">Edad</h6>
                          <input type="text" class="form-control" placeholder="" disabled>
                      </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group col-sm-6 mb-2">
                      <h6 class="card-subtitle mb-2 text-muted">Nombres</h6>
                      <input type="text" class="form-control" placeholder="" disabled>
                    </div>
                    <div class="form-group col-sm-6 mb-2">
                      <h6 class="card-subtitle mb-2 text-muted">Apellidos</h6>
                      <input type="text" class="form-control" placeholder="" disabled>
                    </div>
                </div>
                <div class="row">
                  <div style="text-align:center; ">
                    <button type="button" class="btn btn-primary" style="margin: 1rem;">Mandar con prioridad a Triaje</button>
                  </div>
              </div>
                 </div>
            </div>
  </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col md-4" >
      <h5>Datos de nuevo paciente a atender</h5>
      <div class="card"  >
        <div class="card-body">
            <div class="row">
            </div>
            <div class="row">
                <div class="form-group col-sm-4 mb-2">
                  <h6 class="card-subtitle mb-2 text-muted">Apellido Paterno</h6>
                  <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Apellido Paterno">
                </div>
                <div class="form-group col-sm-4 mb-2">
                  <h6 class="card-subtitle mb-2 text-muted">Apellido Materno</h6>
                  <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Apellido Materno">
                </div>
                <div class="form-group col-sm-4 mb-2">
                  <h6 class="card-subtitle mb-2 text-muted">Nombres</h6>
                  <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Nombres">
                </div>
            </div>
            <br>
            <div class="row">
              <div class="form-group col-sm-4 mb-2">
                <h6 class="card-subtitle mb-2 text-muted">DNI</h6>
                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="DNI">
              </div>
              <div class="form-group col-sm-4 mb-2">
                <h6 class="card-subtitle mb-2 text-muted">Historia Clínica</h6>
                <input type="text" class="form-control" placeholder="" disabled>
              </div>
              <div class="form-group col-sm-4 mb-2">
                <h6 class="card-subtitle mb-2 text-muted">Fecha de Nacimiento</h6>
                <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date" style="font-size:1rem">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="form-group col-sm-4 mb-2">
                <h6 class="card-subtitle mb-2 text-muted">Estado Civil</h6>
                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Estado Civil">
              </div>
              <div class="form-group col-sm-4 mb-2">
                <h6 class="card-subtitle mb-2 text-muted">Teléfono</h6>
                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Teléfono">
              </div>
              <div class="form-group col-sm-4 mb-2">
                <h6 class="card-subtitle mb-2 text-muted">Correo Electrónico</h6>
                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Correo Electrónico">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="form-group col-sm-4 mb-2">
                <h6 class="card-subtitle mb-2 text-muted">País de Origen</h6>
                <select id="select2" name="select2" class="form-control form-control-lg"style="font-size:1rem" >
                  <option value="0">Please select</option>
                  <option value="1">Perú</option>
                  <option value="2">Extranjero</option>
              </select>
              </div>
              <div class="form-group col-sm-4 mb-2">
                <h6 class="card-subtitle mb-2 text-muted">Departamento</h6>
                <select id="select2" name="select2" class="form-control form-control-lg"style="font-size:1rem" >
                  <option value="0">Please select</option>
                  <option value="1">Tumbes</option>
                  <option value="2">Lima</option>
                  <option value="3">Ancash</option>
              </select>
              </div>
              <div class="form-group col-sm-4 mb-2">
                <h6 class="card-subtitle mb-2 text-muted">Distrito</h6>
                <select id="select2" name="select2" class="form-control form-control-lg"style="font-size:1rem" >
                  <option value="0">Please select</option>
                  <option value="1">Bla</option>
                  <option value="2">Bla</option>
                  <option value="3">Bla</option>
              </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="form-group col-sm-12 mb-2">
                <h6 class="card-subtitle mb-2 text-muted">Dirección</h6>
                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Dirección">
              </div>
            </div>
            <div class="row">
              <div style="text-align:center; ">
                <button type="button" class="btn btn-primary" style="margin: 1rem;">Registrar y Mandar con prioridad a Triaje</button>
              </div>
          </div>
             </div>
        </div>
    </div>
</div>

